@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .navBtn {
    background-color: rgba(191, 219, 254, 1);
    border: none;
    font-size: 1rem;
    font-family: "Mulish", sans-serif;
    // padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
  }
  .navImage {
    width: 10rem;
    height: auto;
    animation: rotation 12s infinite linear;
    cursor: pointer;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}