@import "./variables";

.footContainer {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem 5rem;
  // border-bottom: 1px solid #CECECE;
  box-shadow: 0 4px 30px rgb(0 0 0 / 8%);

  .footMenu {
    font-family: "League Gothic", sans-serif;
    font-size: nth($fontSize, 5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
      width: 100%;
      margin: 0;
      letter-spacing: 0.065em;
      color: $dark-text;
      cursor: pointer;
      margin: 0 2rem;
    }
    h1 {
      font-weight: 400;
      letter-spacing: 0.065em;
      color: $dark-text;
      font-size: nth($fontSize, 5);
      cursor: pointer;
    }
    .link {
      color: $dark-text;
      font-size: nth($fontSize, 5);
      cursor: pointer;
      margin-left:2rem;
    }
  }
}
