@import "./variables";

.aboutContainer {
  width: 70%;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  height: 75vh;
  .aboutImage {
    margin-right: 5rem;
    img {
      border-radius: 6px;
    }
  }

  .aboutDescription {
    color: $dark-text;
    h1 {
      margin-top: 0;
      font-weight: 400;
      font-size: nth($fontSize, 6);
    }
    h2 {
      font-weight: 300;
      font-size: nth($fontSize, 4);
    }
    .aboutIcons {
      padding-right: 2rem;
      font-size: nth($fontSize, 8);
      color: $ag-pink;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .controller {
        display: flex;
        align-items: center;
        .link {
          margin-right: 2rem;
        }
        .btn {
          font-size: nth($fontSize, 4);
          background-color: transparent;
          border: 2.5px solid $ag-pink;
          border-radius: 6px;
          color: $ag-pink;
          padding: 0.2rem 0.75rem;
        }
      }
    }
  }
}

.projContainer {
  width: 75%;
  margin: auto;
  h1 {
    font-size: nth($fontSize, 9);
    font-weight: 500;
    color: $dark-text;
    margin-bottom: 7rem;
  }
  .projCardController {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.workContainer {
  width: 75%;
  margin: auto;
  h1 {
    font-size: nth($fontSize, 9);
    font-weight: 500;
    color: $dark-text;
    margin: 7rem 0;
  }
}

.clubContainer {
  width: 75%;
  margin: auto;
  h1 {
    font-size: nth($fontSize, 9);
    font-weight: 500;
    color: $dark-text;
    margin: 7rem 0;
  }
  .clubCard {
    padding: 3rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: row;
    .clubImage {
      width: 8rem;
      border-radius: 6px;
      height: 12rem;
      background-color: $ag-pink;
    }
    .clubTextController {
      margin-left: 2rem;
      .clubHeading {
        font-size: nth($fontSize, 6);
        font-weight: 600;
        color: $dark-text;
        margin: 0;
      }
      .clubDescription {
        font-size: nth($fontSize, 3);
        font-weight: 400;
        color: $dark-text;
      }
      .controller {
        font-size: nth($fontSize, 6);
        .link {
          margin-right: 1rem;
        }
      }
    }
  }
}

.awards {
  width: 75%;
  margin: auto;
  .awardsHeading {
    font-size: nth($fontSize, 5);
    font-weight: 400;
    color: $dark-text;
    margin-top: 10rem;
  }
  .awardsController {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li::marker {
      color: $ag-pink;
      font-size: nth($fontSize, 6);
      border: 20px solid red;
    }
  }
}
