@import "./variables";

.aboutContainer {
  width: 70%;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  .aboutImage {
    margin-right: 4rem;
    img {
      border-radius: 6px;
    }
  }

  .aboutDescription {
    color: $dark-text;
    h1 {
      font-weight: 400;
      font-size: nth($fontSize, 6);
    }
    h2 {
      font-weight: 300;
      font-size: nth($fontSize, 4);
    }
    .aboutIcons {
      font-size: nth($fontSize, 8);
      color: $ag-pink;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .controller {
        align-items: center;
        .link {
          margin-right: 2rem;
        }
        .btn {
          font-size: nth($fontSize, 4);
          background-color: transparent;
          border: 2.5px solid $ag-pink;
          border-radius: 6px;
          color: $ag-pink;
          padding: 0.25rem 0.75rem;
        }
      }
    }
  }
}
