@import "./variables";

.navContainer {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 1px solid #CECECE;

  .navMenu{
    font-family: 'League Gothic', sans-serif;
    font-size: nth($fontSize, 7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a{
      width: 100%;
      margin: 0 2rem;
      letter-spacing: 0.065em;
      color: $dark-text;

    }
  }

}

